/* Header ************************************************/

.socialLinks {
	width: 80px;
}

.socialLink:hover {
	cursor: pointer;
}

header {
	height: 80px;
	background-color: #043E8A;
	position: fixed;
	top: 0;
}

#desktopHeaderUl {
	width: 400px;
}

@media screen and (min-width: 1000px) {
	li a {
		font-size: 20px;
	}
	svg {
		height: 32px;
		width: 32px;
	}
}

@media screen and (max-width: 1000px) {
	li a {
		font-size: 16px;
	}
	svg {
		height: 25px;
		width: 25px;
	}
}

/* Main *********************************************/

main {
	margin-top: 80px;
}


/* About me page ************************************/

.aboutMeArea {
	background-color: #C7D7DD;
}

.aboutMeTitle,
.aboutMeBlueP {
	color: #043E8A;
}

.skillsContainer {
	width: 210px;
}

.backEndContainer {
	width: 200px;
	border: 1px solid grey;
	border-radius: 10px;
	height: 8px;
	background-color: white;
}

.backEndFill {
	background-color: #043E8A;
	width: 60%;
	height: 6px;
	border-radius: 10px;
}

.frontEndContainer {
	width: 200px;
	border: 1px solid grey;
	border-radius: 10px;
	height: 8px;
	background-color: white;
}

.frontEndFill {
	background-color: #043E8A;
	width: 55%;
	height: 6px;
	border-radius: 10px;
}

.symfonyContainer {
	width: 200px;
	border: 1px solid grey;
	border-radius: 10px;
	height: 8px;
	background-color: white;
}

.symfonyFill {
	background-color: #043E8A;
	width: 70%;
	height: 6px;
	border-radius: 10px;
}

.reactContainer {
	width: 200px;
	border: 1px solid grey;
	border-radius: 10px;
	height: 8px;
	background-color: white;
}

.reactFill {
	background-color: #043E8A;
	width: 40%;
	height: 6px;
	border-radius: 10px;
}

.adobeContainer {
	width: 200px;
	border: 1px solid grey;
	border-radius: 10px;
	height: 8px;
	background-color: white;
}

.adobeFill {
	background-color: #043E8A;
	width: 80%;
	height: 6px;
	border-radius: 10px;
}

.growthImage {
	width: 80%;
	object-fit: contain;
	max-width: 350px;
}

/* Projects page ************************************/

.projectsArea {
	background-color: #043E8A;
}

.projectContainer {
	background-color: white;
	height: 225px;
	width: 320px;
}

.projectInfosContainer a {
	padding: 5px;
	font-size: 12px;
	height: 35px;
	margin: 5px;
	text-decoration: none;
	color: white;
}

.projectContainer1 {
	background-image: url(./images/recherche-emploi.png);
	background-position: center;
	background-size: cover;
}

.projectContainer2 {
	background-image: url(./images/mediatheque.png);
	background-position: center;
	background-size: cover;
}

.projectInfosContainer {
	width: 300px;
}

@media screen and (min-width: 1200px) {
	section#aboutMeAnchor {
		height: 450px;
	}
	section#projectsAnchor {
		height: 550px;
	}
}

/* Contact page ************************************/

section#contactAnchor {
	background-color: #C7D7DD;
}

label {
	margin-bottom: 5px;
}

input,
textarea {
	margin-bottom: 10px;
}

form {
	width: 90vw;
	margin: auto;
}

@media screen and (min-width: 1200px) {
	form {
		width: 40vw;
	}
}